<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Stauj | {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
  </head>
  <body class="antialiased text-stauj-500 bg-white flex flex-col h-screen justify-between">
    <div class="w-full bg-black">
      <main class="max-w-[80rem] mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <a href="/">
          <img src="/static/img/stauj-logo-light.svg" alt="" class="w-24">
        </a>
      </main>
    </div>

    <main class="max-w-[80rem] mx-auto px-4 sm:px-6 lg:px-8 pt-12 pb-20">
      {{ content | safe }}
    </main>

    {% include "./partials/footer.html" %}


    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>